---
---

@font-face {
  font-family: SourceSansPro;
  font-weight: 200;
  font-style: normal;
  src: url(../assets/fonts/SourceSansPro/SourceSansPro-ExtraLight.ttf);
}

@font-face {
  font-family: SourceSansPro;
  font-weight: 200;
  font-style: italic;
  src: url(../assets/fonts/SourceSansPro/SourceSansPro-ExtraLightItalic.ttf);
}

@font-face {
  font-family: SourceSansPro;
  font-weight: 300;
  font-style: normal;
  src: url(../assets/fonts/SourceSansPro/SourceSansPro-Light.ttf);
}

@font-face {
  font-family: SourceSansPro;
  font-weight: 300;
  font-style: italic;
  src: url(../assets/fonts/SourceSansPro/SourceSansPro-LightItalic.ttf);
}

@font-face {
  font-family: SourceSansPro;
  font-weight: 400;
  font-style: normal;
  src: url(../assets/fonts/SourceSansPro/SourceSansPro-Regular.ttf);
}

@font-face {
  font-family: SourceSansPro;
  font-weight: 400;
  font-style: italic;
  src: url(../assets/fonts/SourceSansPro/SourceSansPro-RegularItalic.ttf);
}

@font-face {
  font-family: SourceSansPro;
  font-weight: 600;
  font-style: normal;
  src: url(../assets/fonts/SourceSansPro/SourceSansPro-SemiBold.ttf);
}

@font-face {
  font-family: SourceSansPro;
  font-weight: 600;
  font-style: italic;
  src: url(../assets/fonts/SourceSansPro/SourceSansPro-SemiBoldItalic.ttf);
}

@font-face {
  font-family: SourceSansPro;
  font-weight: 700;
  font-style: normal;
  src: url(../assets/fonts/SourceSansPro/SourceSansPro-Bold.ttf);
}

@font-face {
  font-family: SourceSansPro;
  font-weight: 700;
  font-style: italic;
  src: url(../assets/fonts/SourceSansPro/SourceSansPro-BoldItalic.ttf);
}

@font-face {
  font-family: SourceSansPro;
  font-weight: 900;
  font-style: normal;
  src: url(../assets/fonts/SourceSansPro/SourceSansPro-Black.ttf);
}

@font-face {
  font-family: SourceSansPro;
  font-weight: 900;
  font-style: italic;
  src: url(../assets/fonts/SourceSansPro/SourceSansPro-BlackItalic.ttf);
}
