---
---

@font-face {
  font-family: BioRhyme;
  font-weight: 200;
  font-style: normal;
  src: url(../assets/fonts/BioRhyme/BioRhyme-ExtraLight.ttf);
}

@font-face {
  font-family: BioRhyme;
  font-weight: 300;
  font-style: normal;
  src: url(../assets/fonts/BioRhyme/BioRhyme-Light.ttf);
}

@font-face {
  font-family: BioRhyme;
  font-weight: 400;
  font-style: normal;
  src: url(../assets/fonts/BioRhyme/BioRhyme-Regular.ttf);
}

@font-face {
  font-family: BioRhyme;
  font-weight: 700;
  font-style: normal;
  src: url(../assets/fonts/BioRhyme/BioRhyme-Bold.ttf);
}

@font-face {
  font-family: BioRhyme;
  font-weight: 800;
  font-style: normal;
  src: url(../assets/fonts/BioRhyme/BioRhyme-ExtraBold.ttf);
}
