---
---

@import 'constants';
@import 'font.css';

html, body {
  margin: 0;
  padding: 0;
  font-family: Montserrat;
  font-size: 14px;
  @include media-query(DESKTOP) {
    font-size: 16px;
  }
}

a {
  color: inherit;
  &:visited {
    color: inherit;
  }
}

.top-bar {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 24px;

  @include media-query(DESKTOP) {
    padding: 20px 2.5%;
  }

  .main-title {
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .6em;
    line-height: 1em;

    color: $TEXT-COLOR;

    @include media-query(DESKTOP) {
      font-size: 16px;
    }

    a {
      display: block;
      width: 220px;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      text-decoration: none;
      color: $TEXT-COLOR;
      &:visited {
        color: $TEXT-COLOR;
      }

      @include media-query(DESKTOP) {
        width: 250px;
      }
    }
  }

  .main-title.center {
    margin: 0 auto;
  }

  .menu-open {
    display: block;
    cursor: pointer;
    font-size: 24px;
    font-weight: 100;
    @include media-query(DESKTOP) {
      display: none;
    }
  }

  .menu-container {
    display: none;
    @include media-query(DESKTOP) {
      display: block;
    }
  }
}

.mobile-menu {
  width: 100%;
  position: absolute;
  top: 0;
  left: -100vw;
  min-height: 200px;
  background-color: #fff;
  transition: left 0.8s ease-in-out;

  .mobile-menu-content-container {
    padding-bottom: 24px;
  }

  .menu-close {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 24px;
    font-weight: 100;
    padding: 16px;
    color: $TEXT-COLOR;
    transition: color $TRANSITION-PERIOD linear;

    &:hover {
      color: $TEXT-COLOR-HOVER;
    }
  }
}

.mobile-menu-hidden {
  left: -100vw;
}

.mobile-menu-shown {
  left: 0;
}

.menu-content {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;

  @include media-query(DESKTOP) {
    flex-direction: row;
    flex-wrap: nowrap;
  }

  li {
    list-style: none;
    padding: 24px 24px 0;
    font-size: 20px;
    font-weight: 200;
    letter-spacing: .25em;
    line-height: 1em;
    text-transform: capitalize;

    @include media-query(DESKTOP) {
      padding: 0 24px;
      font-size: 12px;
      font-weight: 400;
      letter-spacing: .25em;
      line-height: 1em;
      text-transform: uppercase;
      text-align: center;
    }

    a {
      text-decoration: none;
      color: $TEXT-COLOR;
      transition: color $TRANSITION-PERIOD linear;

      &:visited {
        color: $TEXT-COLOR;
      }
      &:hover {
        color: $TEXT-COLOR-HOVER;
      }
    }
  }
}

.list-container {
  width: 100%;
  margin: 0 auto;
  padding: 0 5%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  .list-item-container {
    position: relative;
    width: 100%;
    padding: 1%;

    .list-item-image {
      display: block;
      width: 100%;
      padding-bottom: 100%;
      background-position: center center;
      background-size: cover;
    }

    .list-item-title {
      display: block;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;
      padding: 12px 0 0;
      letter-spacing: .25em;
      font-size: 10px;

      @include media-query(DESKTOP) {
        font-size: 14px;
      }
    }

    .list-item-tag {
      padding: 4px 9px;
      border-radius: 4px;
      color: #fff;
      background-color: #777;
      font-size: 14px;
      text-transform: uppercase;
      position: absolute;
      top: 10%;
      left: 10%;
    }
  }
}

.home {
  width: 100%;
  margin: 0 auto;

  .home-video-container {
    width: 100%;
    max-height: 200px;
    overflow: hidden;

    @include media-query(DESKTOP) {
      max-height: 600px;
    }

    .home-video {
      width: 100%;
      &:focus {
        outline:0;
      }
    }
  }

  .home-section-title {
    text-align: center;
    padding: 40px 0 0;
    font-size: 18px;
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: .2em;

      @include media-query(DESKTOP) {
        font-size: 32px;
        padding: 40px 0;
      }
  }

  .home-image-banner {
    width: 100%;
    padding-bottom: 40%;
    margin-top: 96px;
    background-position: center center;
    background-size: cover;
  }

  .list-item-container {
    width: 45%;
    @include media-query(DESKTOP) {
      width: 30%;
    }
  }

  .list-link {
    display: block;
    width: 20%;
    min-width: 100px;
    padding: 16px 20px;
    margin: 16px auto;
    border: #222 solid 1px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    letter-spacing: .15em;

    @include media-query(DESKTOP) {
      width: 20%;
      min-width: 0;
    }
  }

  .list-hr {
    width: 40%;
    border-bottom: 2px #666 solid;
    margin: 48px auto 0;
  }
}

.list {
  width: 100%;
  padding: 0 2%;
  box-sizing: border-box;

  @include media-query(DESKTOP) {
      margin-top: 16px;
  }

  .list-title {
    text-align: center;
    padding: 16px 0;
    font-size: 18px;
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: .2em;

    @include media-query(DESKTOP) {
      font-size: 32px;
    }
  }

  .list-description {
    box-sizing: border-box;
    margin: 36px auto;
    width: 90%;
  }

  .list-item-container {
    width: 45%;
    @include media-query(DESKTOP) {
      width: 20%;
    }
  }
}

.product {
  width: 100%;
  padding: 0 2%;
  box-sizing: border-box;

  @include media-query(DESKTOP) {
      margin-top: 16px;
  }

  .product-title {
    text-align: center;
    padding: 16px 0;
    font-size: 18px;
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: .2em;

    @include media-query(DESKTOP) {
      font-size: 32px;
    }
  }
  .product-container {
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    @include media-query(DESKTOP) {
      flex-direction: row;
    }

    .product-container-0 {
      width: 100%;
      box-sizing: border-box;
      padding: 5%;

      @include media-query(DESKTOP) {
        width: 60%;
      }

      .product-image-class {
        cursor: zoom-in;
        width: 100%;
        padding-bottom: 80%;

        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
      }
    }

    .product-container-1 {
      width: 100%;
      padding: 0 20px;
      box-sizing: border-box;

      @include media-query(DESKTOP) {
        width: 40%;
        padding: 0;
      }

      .product-description {
        box-sizing: border-box;
        width: 100%;
        text-align: justify;
        @include media-query(DESKTOP) {
          padding-right: 40px;
        }
      }

      .product-specs {
        width: 100%;
        margin-top: 40px;

        .product-spec-container {
          width: 100%;
          margin: 8px 0;
          display: flex;
          flex-direction: row;

          .product-spec-title {
            width: 25%;
          }
        }
      }
    }
  }
}

.footer {
  padding: 64px 16px;
  background-color: #ccc;
  text-align: center;

  .footer-title {
    margin: 0 auto;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .6em;
    line-height: 1em;
  }

  .footer-text {
    margin: 0 auto;
    max-width: 500px;
    padding: 24px;
    font-size: 20px;
    font-weight: 200;
    line-height: 1.1em;
  }
}

.some-icons {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;

  .icon-item {
    color: $TEXT-COLOR;
    transition: color $TRANSITION-PERIOD linear;
    padding: 0 8px;

    &:visited {
      color: $TEXT-COLOR;
    }
    &:hover {
      color: $TEXT-COLOR-HOVER;
    }

    i {
      font-size: 25px;
    }
  }
}

.video-wrapper-16x9 {
  padding-bottom: 56.25%;
}

.video-wrapper-4x3 {
  padding-bottom: 75%;
}

.video-wrapper-wrapper {
  margin: 1rem auto;
  width: 100%;
  padding: 0 16px;
  box-sizing: border-box;

  @include media-query(DESKTOP) {
    padding: 0 64px;
  }
}

.video-wrapper {
  position: relative;
  margin: 1rem auto;
  height: 0;
  overflow: hidden;

  iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.swipebox-gallery {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  justify-content: center;

  .gallery-thumbnail {
    margin: 0 2%;
    width: 18%;
    padding-bottom: 19%;
    cursor: pointer;

    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .swipebox {
    img {
      width: 0;
    }
  }
}
