---
---

@import 'constants';
@import 'font.css';

html, body {
  margin: 0;
  padding: 0;
  font-family: Montserrat;
  font-size: 14px;
  @include media-query(DESKTOP) {
    font-size: 16px;
  }
}

a {
  color: inherit;
  &:visited {
    color: inherit;
  }
}

.top-bar {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 12px 24px;
  background-color: $BACKGROUND-COLOR;

  @include media-query(DESKTOP) {
    padding: 20px 2.5%;
  }

  .main-title {
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .6em;
    line-height: 1em;

    color: $TEXT-COLOR;

    @include media-query(DESKTOP) {
      font-size: 16px;
    }

    a {
      display: block;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      text-decoration: none;
      color: $TEXT-COLOR;
      &:visited {
        color: $TEXT-COLOR;
      }
      &:hover {
        color: $TEXT-COLOR;
      }
    }
  }

  .main-title.center {
    margin: 0 auto;
  }

  .menu-open {
    display: block;
    cursor: pointer;
    font-size: 24px;
    font-weight: 100;
    @include media-query(DESKTOP) {
      display: none;
    }
  }

  .menu-container {
    display: none;
    @include media-query(DESKTOP) {
      display: block;
    }
  }
}

.top-bar-hidden {
  opacity: 0;
  pointer-events: none;
  z-index: -100;
}

.top-bar-fixed {
  position: fixed;
  top: 0;
  z-index: 100;
}

.mobile-menu {
  width: 100%;
  position: absolute;
  top: 0;
  left: -100vw;
  min-height: 200px;
  background-color: $BACKGROUND-COLOR;
  transition: left 0.8s ease-in-out;

  .mobile-menu-content-container {
    padding-bottom: 24px;
  }

  .menu-close {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 24px;
    font-weight: 100;
    padding: 16px;
    color: $TEXT-COLOR;
    transition: color $TRANSITION-PERIOD linear;

    &:hover {
      color: $TEXT-MEDIUM-COLOR;
    }
  }
}

.mobile-menu-hidden {
  left: -100vw;
  z-index: -100;
}

.mobile-menu-shown {
  left: 0;
  z-index: 100;
}

.menu-content {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;

  @include media-query(DESKTOP) {
    flex-direction: row;
    flex-wrap: nowrap;
  }

  li {
    list-style: none;
    padding: 24px 24px 0;
    font-size: 20px;
    font-weight: 200;
    letter-spacing: .25em;
    line-height: 1em;
    text-transform: capitalize;

    @include media-query(DESKTOP) {
      padding: 0 24px;
      font-size: 12px;
      font-weight: 400;
      letter-spacing: .25em;
      line-height: 1em;
      text-transform: uppercase;
      text-align: center;
    }

    a {
      text-decoration: none;
      color: $TEXT-COLOR;
      transition: color $TRANSITION-PERIOD linear;

      &:visited {
        color: $TEXT-COLOR;
      }
      &:hover {
        color: $TEXT-MEDIUM-COLOR;
      }
    }
  }
}

.list-container {
  width: 100%;
  margin: 0 auto;
  padding: 0 5%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  .list-item-container {
    position: relative;
    width: 45%;
    padding: 1%;
    @include media-query(DESKTOP) {
      width: 30%;
    }

    .list-item-image {
      display: block;
      width: 100%;
      padding-bottom: 100%;
      background-position: center center;
      background-size: cover;
    }

    .list-item-title {
      display: block;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;
      padding: 12px 0 0;
      letter-spacing: .25em;
      font-size: 10px;

      @include media-query(DESKTOP) {
        font-size: 14px;
      }
    }

    .list-item-tag {
      padding: 4px 9px;
      border: $TEXT-ACCENT-COLOR solid 1px;
      border-radius: 4px;
      color: $TEXT-LIGHT-COLOR;
      background-color: $TEXT-ACCENT-COLOR;
      font-size: 14px;
      text-transform: uppercase;
      position: absolute;
      top: 10%;
      left: 10%;
      transition: all $TRANSITION-PERIOD linear;
    }
  }

  .list-item-container.last-true {
    @include media-query(DESKTOP) {
      display: none;
    }
  }
}

.product-recommendations {
  .list-item-container.last-true {
    display: none;
    @include media-query(DESKTOP) {
      display: block;
    }
  }
}

.home {
  width: 100%;
  margin: 0 auto;

  .home-video-container {
    width: 100%;
    max-height: 200px;
    overflow: hidden;

    @include media-query(DESKTOP) {
      max-height: 600px;
    }

    .home-video {
      width: 100%;
      &:focus {
        outline:0;
      }
    }
  }

  .home-image-banner {
    width: 100%;
    padding-bottom: 40%;
    margin-top: 96px;
    background-position: center center;
    background-size: cover;
  }

  .list-link {
    display: block;
    width: 20%;
    min-width: 100px;
    padding: 16px 20px;
    margin: 16px auto;
    border: $TEXT-COLOR solid 1px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    letter-spacing: .15em;
    color: $TEXT-COLOR;
    background-color: $BACKGROUND-COLOR;
    transition: all $TRANSITION-PERIOD linear;

    @include media-query(DESKTOP) {
      width: 20%;
      min-width: 0;
    }

    &:visited {
      color: $TEXT-COLOR;
      background-color: $BACKGROUND-COLOR;
    }
    &:hover {
      color: $TEXT-LIGHT-COLOR;
      background-color: $TEXT-COLOR;
    }
  }

  .list-hr {
    width: 40%;
    border-bottom: 2px $TEXT-ACCENT-COLOR solid;
    margin: 48px auto 0;
  }
}

.home-section-title {
  text-align: center;
  padding: 40px 0 0;
  font-size: 18px;
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: .2em;

  @include media-query(DESKTOP) {
    font-size: 32px;
    padding: 40px 0;
  }
}

.post {
  .post-image-banner {
    width: 100%;
    padding-bottom: 33%;
    background-position: center top;
    background-size: cover;
  }

  .list-hr {
    width: 40%;
    border-bottom: 2px $TEXT-ACCENT-COLOR solid;
    margin: 0 auto;
  }

  .post-text-container {
    width: 90%;
    margin: 36px auto 0;
    box-sizing: border-box;
    line-height: 1.75em;

    @include media-query(DESKTOP) {
      width: 80%;
      max-width: 720px;
      margin: 64px auto 0;
    }
  }
}

.list, .cart {
  width: 100%;
  padding: 0 2%;
  box-sizing: border-box;

  @include media-query(DESKTOP) {
    margin-top: 16px;
  }

  .list-title, .cart-title {
    text-align: center;
    padding: 16px 0;
    font-size: 18px;
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: .2em;

    @include media-query(DESKTOP) {
      font-size: 32px;
    }
  }

  .list-description {
    box-sizing: border-box;
    margin: 36px auto;
    width: 90%;
    line-height: 1.75em;

    @include media-query(DESKTOP) {
      width: 80%;
    }
  }

  .list-item-container {
    width: 45%;
    @include media-query(DESKTOP) {
      width: 20%;
    }
  }
}

.product {
  width: 100%;
  padding: 0 2%;
  box-sizing: border-box;

  @include media-query(DESKTOP) {
    margin-top: 16px;
  }

  .product-title {
    text-align: center;
    padding: 16px 0 24px;
    font-size: 18px;
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: .2em;

    @include media-query(DESKTOP) {
      font-size: 32px;
      padding: 16px 0 40px;
    }
  }
  .product-container {
    width: 100%;
    margin-bottom: 64px;
    padding: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;

    @include media-query(DESKTOP) {
      margin-bottom: 64px;
      flex-direction: row;
    }

    .product-container-0 {
      width: 100%;
      box-sizing: border-box;
      padding: 5%;
      padding-top: 0;

      @include media-query(DESKTOP) {
        width: 50%;
      }

      .product-breadcrumbs {
        .product-crumb {
          text-transform: uppercase;
          padding: 0 4px;
          font-size: 10px;
          letter-spacing: .05em;

          @include media-query(DESKTOP) {
            padding: 0 6px;
            font-size: 12px;
            letter-spacing: .1em;
          }
        }
      }

      .product-image-class {
        cursor: zoom-in;
        width: 100%;
        padding-bottom: 80%;

        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
      }
    }

    .product-container-1 {
      width: 100%;
      padding: 0 20px;
      box-sizing: border-box;

      @include media-query(DESKTOP) {
        width: 40%;
        padding: 0;
      }

      .product-description {
        box-sizing: border-box;
        width: 100%;
        text-align: justify;
        img {
          width: 100%;
        }
      }

      .product-specs {
        width: 100%;
        margin: 40px 0;

        .product-spec-container {
          width: 100%;
          margin: 8px 0;
          display: flex;
          flex-direction: row;

          .product-spec-title {
            width: 33%;
          }
        }
      }

      .product-cart {
        box-sizing: border-box;
        width: 100%;
        margin: 16px auto;
        border: $TEXT-MEDIUM-COLOR solid 1px;
        border-radius: 3px;

        .product-cart-header {
          position: relative;
          box-sizing: border-box;
          width: 100%;
          background-color: $TEXT-MEDIUM-COLOR;
          color: $TEXT-MEDIUM-COLOR;

          .product-price {
            box-sizing: border-box;
            width: 100%;
            color: $TEXT-LIGHT-COLOR;
            background-color: rgba(0,0,0,0);
            padding: 16px;
            text-align: right;
            letter-spacing: .15em;
            user-select: none;

            .product-price-loader {
              margin-left: 80%;
            }
          }
        }

        .product-cart-buttons-container {
          text-align: center;
          margin-bottom: 16px;

          .product-cart-button {
            display: block;
            box-sizing: border-box;
            width: 90%;
            min-width: 100px;
            padding: 16px 20px;
            margin: 16px auto;
            border: $TEXT-COLOR solid 1px;
            border-radius: 5px;
            text-align: center;
            text-decoration: none;
            letter-spacing: .15em;
            text-transform: uppercase;
            color: $TEXT-COLOR;
            background-color: $BACKGROUND-COLOR;
            transition: all $TRANSITION-PERIOD linear;
            cursor: pointer;

            &:visited {
              color: $TEXT-COLOR;
              background-color: $BACKGROUND-COLOR;
            }
            &:hover {
              color: $TEXT-LIGHT-COLOR;
              background-color: $TEXT-COLOR;
            }
          }
          .product-cart-button-disable {
            opacity: 25%;
            cursor: default;
            pointer-events: none;
          }
          .product-cart-button-hide {
            display: none;
          }

          .product-cart-link {
            display: inline;
            font-size: 14px;
            text-transform: uppercase;
            color: $TEXT-ACCENT-COLOR;
            &:visited {
              color: $TEXT-ACCENT-COLOR;
            }
            &:hover {
              color: $TEXT-COLOR;
            }
          }
          .product-cart-link-disable {
            display: none;
          }
        }
      }

      .product-price-graph {
        position: relative;

        .product-graph-header {
          display: flex;
          flex-direction: row;

          .product-graph-title {
            align-self: center;
          }

          .product-graph-button-container {
            display: flex;
            flex-direction: row;
            flex-grow: 1;
            justify-content: flex-end;
            align-items: flex-end;

            font-size: 12px;
            @include media-query(DESKTOP) {
              font-size: 14px;
            }

            .product-graph-date-button {
              padding: 4px 12px;
              margin: 0 0 0 6px;
              border-radius: 15%;
              cursor: pointer;

              &.selected {
                background-color: $TEXT-MEDIUM-COLOR;
                color: $TEXT-LIGHT-COLOR;
                cursor: auto;
                pointer-events: none;
              }
            }
          }
        }

        .product-graph {
          .product-graph-loader {
            margin: 12px auto;
            animation-delay: calc(-5 * #{$TRANSITION-PERIOD});
          }
        }

        .product-price-info {
          position: absolute;
          bottom: 8px;
          background-color: $BACKGROUND-COLOR;
          padding: 2px 6px;
          border: 1px $TEXT-ACCENT-COLOR solid;
          z-index: 10;
          white-space: nowrap;
          opacity: 0;

          font-size: 10px;
          @include media-query(DESKTOP) {
            font-size: 12px;
          }
        }
      }
    }
  }
}

.cart {
  .cart-list-container {
    width: 90%;
    box-sizing: border-box;
    margin: 0 auto 32px;
    padding: 32px;
    border: 1px $TEXT-ACCENT-COLOR solid;

    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: .15em;

    @include media-query(DESKTOP) {
      width: 70%;
      font-size: 16px;
    }

    .empty-cart-message {
      width: 100%;
      text-align: center;
      letter-spacing: .15em;
      font-weight: 200;
      padding: 10% 0;
    }

    .cart-item {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: space-between;
      box-sizing: border-box;
      border-bottom: 1px $TEXT-ACCENT-COLOR solid;

      .cart-item-cover {
        width: 25%;
        padding-bottom: 30%;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;

        @include media-query(DESKTOP) {
          padding-bottom: 20%;
        }
      }
      .cart-item-cover-spacer {
        width: 25%;
      }

      .cart-item-title {
        width: 43%;
        padding-bottom: 8px;
        font-size: 12px;

        @include media-query(DESKTOP) {
          width: 33%;
          font-size: 16px;
        }
      }

      .cart-item-price {
        width: 25%;
        padding-bottom: 8px;
        text-align: right;
        font-size: 12px;
        user-select: none;

        @include media-query(DESKTOP) {
          text-align: left;
          font-size: 16px;
        }
      }

      .cart-item-remove {
        padding: 4px 0;
        font-size: 9px;
        cursor: pointer;

        @include media-query(DESKTOP) {
          font-size: 11px;
        }
      }
    }
  }
}

.footer {
  margin-top: 64px;
  padding: 64px 16px;
  background-color: $TEXT-ACCENT-COLOR;
  color: $TEXT-LIGHT-COLOR;
  text-align: center;

  .footer-title {
    margin: 0 auto;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .6em;
    line-height: 1em;

    &::before {
      content: ". ";
      color: $TEXT-ACCENT-COLOR;
    }
    &::after {
      content: ".";
      color: $TEXT-ACCENT-COLOR;
    }
  }

  .footer-hr {
    width: 200px;
    margin: 12px auto 0;
    border-bottom: 2px $TEXT-LIGHT-COLOR solid;
  }

  .footer-text {
    margin: 0 auto;
    max-width: 500px;
    padding: 12px;
    font-size: 20px;
    font-weight: 200;
    line-height: 1.1em;
  }

  .footer-link-container {
    padding: 8px 0 24px;
    text-transform: uppercase;
    letter-spacing: .5em;

    .footer-link {
      display: block;
      padding: 4px 0;
      text-decoration: none;
    }
  }
}

.some-icons {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;

  .icon-item {
    color: $TEXT-LIGHT-COLOR;
    transition: color $TRANSITION-PERIOD linear;
    padding: 12px 8px;

    &:visited {
      color: $TEXT-LIGHT-COLOR;
    }
    &:hover {
      color: $TEXT-COLOR;
    }

    i {
      font-size: 25px;
    }
  }
}

.newsletter-container {
  width: 100%;
  margin: 0 auto;

  @include media-query(DESKTOP) {
    width: 50%;
  }

  .newsletter-email-input {
    width: 80%;
    max-width: 300px;
    padding: 8px 6px;
    outline: none;
  }
  .newsletter-button {
    padding: 8px 6px;
    outline: none;
  }
}

.video-wrapper-16x9 {
  padding-bottom: 56.25%;
}

.video-wrapper-4x3 {
  padding-bottom: 75%;
}

.video-wrapper-wrapper {
  margin: 1rem auto;
  width: 100%;
  padding: 0 16px;
  box-sizing: border-box;

  @include media-query(DESKTOP) {
    padding: 0 64px;
  }
}

.video-wrapper {
  position: relative;
  margin: 1rem auto;
  height: 0;
  overflow: hidden;

  iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.swipebox-gallery {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  justify-content: center;

  .gallery-thumbnail {
    margin: 0 2%;
    width: 16%;
    padding-bottom: 16%;
    cursor: pointer;

    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .swipebox {
    img {
      width: 0;
    }
  }
}

.loader {
  border: 2px solid $BACKGROUND-COLOR;
  border-top: 2px solid $TEXT-COLOR;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  animation: spin calc(10 * #{$TRANSITION-PERIOD}) linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.graph-container {
  width: 90%;
  box-sizing: border-box;
  margin: 36px auto 0;

  @include media-query(DESKTOP) {
    margin: 64px auto 0;
  }

  .graphs {
    width: 100%;
  }
}
