<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
    {% include meta.html %}
  </head>
  <body>
    {% include top-bar.html %}

    <div class="post">
      <div class="graph-container">
        {{ content }}
        <div id="my-top-3" class="top-3"></div>
      </div>

    </div>

    {% include footer.html %}
  </body>
  <script src="https://cdn.jsdelivr.net/npm/p5@1.1.9/lib/p5.min.js"></script>
  <script src="{{ site.baseurl }}/js/token.js"></script>
  <script src="{{ site.baseurl }}/js/urls.js"></script>
  {% if page.title contains "algographs" %}
    <script src="{{ site.baseurl }}/js/algographs.js"></script>
  {% elsif page.title contains "sensors" %}
    <script src="{{ site.baseurl }}/js/post-sensors.js"></script>
  {% else %}
    <script src="{{ site.baseurl }}/js/graphs.js"></script>
  {% endif %}
</html>
