<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
    {% include meta.html %}
  </head>
  <body>
    {% include top-bar.html %}

    <div style="height:300px; width: 100%; background-color: #444;"></div>

    <div class="home-section-title">New</div>
    {% assign newest = (site.documents | sort: 'date') | reverse %}
    {% for n in newest limit:3 %}
      <div>{{ n.title }}</div>
    {% endfor %}

    <div style="height:300px; width: 100%; background-color: #444;"></div>

    {% for col in site.collections %}
      {% unless col.label == 'posts' %}
        {% assign posts = site.collections | where:"label",col.label | first %}
        <div class="home-section-title">{{ col.title }}</div>

        {% for p in posts.docs limit:3 %}
          <div>{{ p.title }}</div>
        {% endfor %}
      {% endunless %}
    {% endfor %}

    <div style="height:300px; width: 100%; background-color: #444;"></div>

    {% include footer.html %}
  </body>
</html>
