<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
    {% include meta.html %}
  </head>
  <body>
    {% include top-bar.html %}

    <div class="home">

      <div class="home-video-container">
        <video playsinline autoplay muted loop class="home-video">
          <source src="{{ site.baseurl }}/assets/algotypes/algotypes.webm"
                  type="video/webm">

          <source src="{{ site.baseurl }}/assets/algotypes/algotypes.mp4"
                  type="video/mp4">

          <div class="home-image-banner"
             style="background-image: url('{{ site.baseurl }}/assets/algotypes/algotypes_02.jpg')"></div>
        </video>
      </div>

      <div class="home-section-title">New</div>
      <div class="list-container">
        {% assign newest = site.documents | where:"tag","new" | sort:'date' | reverse %}
        {% unless newest.size > 2 %}
          {% assign newest = site.documents | where:"layout","product" | sort:'date' | reverse %}
        {% endunless %}

        {% for p in newest limit:4 %}
          {% assign lastclass = "last-" | append:forloop.last %}
          {% include list-item.html product=p displayclass=lastclass %}
        {% endfor %}
      </div>
      <a class="list-link" href="{{ site.baseurl }}/new/">See More</a>
      <div class="list-hr"></div>

      <div class="home-image-banner"
           style="background-image: url('{{ site.baseurl }}/assets/algotypes/algotypes_07.jpg')"></div>

      {% for col in site.collections %}
        {% unless col.label == 'posts' %}
          {% assign posts = site.collections | where:"label",col.label | first %}
          <div class="home-section-title">{{ col.title }}</div>
          <div class="list-container">
            {% for p in posts.docs limit:4 %}
              {% assign lastclass = "last-" | append:forloop.last %}
              {% include list-item.html product=p displayclass=lastclass %}
            {% endfor %}
          </div>
          <a class="list-link" href="{{ site.baseurl }}/{{ col.label }}/">See More</a>
          <div class="list-hr"></div>
        {% endunless %}
      {% endfor %}

      <div class="home-image-banner"
           style="background-image: url('{{ site.baseurl }}/assets/algotypes/algotypes_00.jpg')"></div>

    </div>

    {% include footer.html %}
  </body>
</html>
