<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
    {% include meta.html %}
  </head>
  <body>
    {% include top-bar.html %}

    {% if page.slug %}
      {% assign collection = page.slug %}
    {% else %}
      {% assign collection = page.title | slugify %}
    {% endif %}

    {% assign posts = site.collections | where:"label",collection | first %}

    <div class="list-title">{{ page.title }}</div>
    <div class="list-decription">{{ content }}</div>

    <div class="list-container">
      {% for p in posts.docs reversed %}
        <div class="list-item-container">
          <div class="list-item-image" style="background-image: url('{{ site.baseurl }}{{ p.cover }}')">
            <a class="list-item"
               href="{{ site.baseurl }}{{ p.url }}">
              {{ p.title }}
            </a>
          </div>
        </div>
      {% endfor %}
    </div>
    {% include footer.html %}
  </body>
</html>
