<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
    {% include meta.html %}
  </head>
  <body>
    {% include top-bar.html %}

    {% if page.slug %}
      {% assign collection = page.slug %}
    {% else %}
      {% assign collection = page.title | slugify %}
    {% endif %}

    {% assign posts_ = site.collections | where:"label",collection | first %}
    {% assign posts = posts_.docs %}

    {% unless posts %}
      {% assign posts = site.documents | where:"tag","new" %}
    {% endunless %}

    <div class="list">
      <div class="list-title">{{ page.title }}</div>
      <div class="list-description">{{ content }}</div>

      <div class="list-container">
        {% for p in posts reversed %}
          {% include list-item.html product=p %}
        {% endfor %}
      </div>
    </div>

    {% include footer.html %}
  </body>
</html>
