<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
    {% include meta.html %}
  </head>
  <body>
    {% include top-bar.html %}

    <div class="product">
      <div class="product-title">{{ page.title }}</div>

      <div class="product-container">
        <div class="product-container-0">
          <div class="product-breadcrumbs">
            <a class="product-crumb" href="{{ site. baseurl }}/{{ page.collection}}">{{ page.Collection }}</a>
            <span>></a>
            <span class="product-crumb">{{ page.title }}</a>
          </div>
          <div id="product-image"
               class="product-image-class"
               style="background-image: url('{{ site.baseurl }}{{ page.cover }}')">
          </div>
          {% if page.swipebox %}
            {% include swipebox.html prefix=page.swipebox %}
          {% endif %}
        </div>

        <div class="product-container-1">
          <div class="product-description">{{ content }}</div>
          <div class="product-specs">
            {% assign specs = "Article, Collection, Color, Size, Material" | split: ', ' %}
            {% for s in specs %}
              {% if page[s] %}
                <div class="product-spec-container">
                  <div class="product-spec-title">{{ s | capitalize }}:</div>
                  <div class="product-spec-description">{{ page[s] }}</div>
                </div>
              {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>

    {% include footer.html %}
  </body>
</html>
